html {
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font: Garamond;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    color: #BCA17D;
}

.header {
    background-color: #0B292B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 18px;
    width: 100%;
    flex-wrap: wrap;
}

img {
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-grow: 1;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: rgb(1, 1, 1, 0.7);
    border-radius: 1.5em;
    gap: 50px;
    flex-wrap: wrap;
    margin: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img.hewg {
    width: 30vw;
    height: auto;
    min-width: 400px;
}

.title{
    font-size: 32px;
    font-weight: bold;
}

button {
    max-width: 100px;
    background-color: #0B292B;
    color: #BCA17D;
    border-radius: 15%;
    border-color: #BCA17D;
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size: 32px;
    background-color: #0B292B;
    padding: 50px;
    width: 100%;
}

.testimonials-sub {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
}

.testimonial-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.test-text {
    display: flex;
    justify-content: center;
 }
 

 .quote {
    text-align: center;
    font-size: 48px;
    max-width: 70%;
    margin: 100px;
}

.bottom-banner {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #BCA17D;
    color: #0B292B;
    width: 50%;
    gap: 100px;
}

.right {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    background-color: #0B292B;
    padding: 20px;
    width: 100vw;
    justify-content: center;
}

body {
    margin: 0;
}